* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

body {
  background-image: url('/capturas/LG.png');
  background-repeat: no-repeat;
  background-size: cover;
  /* background: #f9f9f9; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #b9b9b9;
  opacity: 0.3;
  font-size: 100%;
}

header {
  height: 6rem;
  background-color: green;
  padding: 0 18%;
}

header section#superior,
header section#inferior {
  width: 100%;
  height: 3rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  background-color: red;
}

.logo {
  width: 2.8rem;
  height: 2.8rem;
  margin: 0.015rem 0.5rem;
}

.lupa {
  width: 1.6rem;
  height: 1.6rem;
}

input[type='text'] {
  font-size: 0.8rem;
  width: 100%;
  border: none;
}

.search {
  display: flex;
  flex-flow: row nowrap;
  height: 2rem;
  width: 80%;
  border: 1px solid rgb(228, 228, 228);
  border-radius: 0.2rem;
  margin: 0.5rem 0.5rem;
  background-color: ghostwhite;
}

.puntos {
  width: 2rem;
  height: 2rem;
  margin: 0.5rem 0.5rem;
  border-radius: 0.2rem;
  background-color: #fff;
  text-align: center;
  text-decoration: none;
}

.login {
  height: 2rem;
  padding: 0 0.5rem;
  margin: 0.5rem 0.5rem;
  border-radius: 0.2rem;
  font-size: 0.8rem;
  background: #f9f9f9;
  color: black;
  line-height: 2rem;
  text-decoration: none;
}

section#inferior nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  background-color: orange;
}

nav a {
  height: 3rem;
  line-height: 3rem;
  text-decoration: none;
  color: black;
  font-size: 0.9rem;
  padding: 0 0.8rem;
}

nav a:hover {
  color: #fff;
  background-color: rgb(105, 105, 105);
}

nav a img {
  display: block;
  height: 40%;
  width: 40%;
}

.contenedor {
  /* background-color: #b9b9b9; */
  background-color: blue;
  margin: 1rem 18%;
  padding: 0.5rem 1rem;
}

main {
  width: 71%;
  margin: 1rem;
  border: 2px solid red;
}
/* Welcome */
.contenedor .welcome {
  height: 3rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem 0.2rem 0.2rem 3rem;
  margin: 1rem ;
  background-color: green;
  line-height: 3rem;
}

.welcome img {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0 0.5rem;
}

h3 {
  font-size: 0.5rem;
  color: #000;
}

p {
  font-size: 0.8rem;
  color: black;
}

.welcome .email {
  width: 10rem;
  height: 1.5rem;
  font-size: 0.8rem;
  line-height: 1.5rem;
  background-color: #fff;
  border-radius: 0.1rem;
  margin: 0 0.5rem;
}

.subscribe {
  height: 1.5rem;
  text-decoration: none;
  font-size: 0.8rem;
  line-height: 1.5rem;
  background-color: #da552f;
  color: #fff;
  padding: 0 0.5rem;
  margin-right: 3rem;
}

button.close {
  text-align: center;
  width: 1.5rem;
  height: 1.5rem;
  line-height: 1rem;
  border: 1px solid #fff;
  font-size: 0.8rem;
  color: black;
  padding: 0 0.2rem;
  margin: 0 0.2rem;
}

/* Most Popular this week */
section.app-section {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
}

article.section-name {
  height: 4rem;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: gray;
}
h3 {
  padding-left: 1rem;
  font-size: 1rem;
}
#close {
  margin-right: 0.5rem;
}

/* App Container */
article.app {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  background-color: orange;
}

.app img {
  width: 5rem;
  height: 5rem;
  padding: 1rem;
}

.info-app {
  padding: 1rem 0;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.info-app {
  padding: 1rem 0;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

a.likes img {
  width: 1.5rem;
  height: 1.5rem;
  vertical-align: middle;
  padding: 0;
}

a.likes {
  line-height: 1.5rem;
  text-decoration: none;
  font-size: 0.8rem;
  color: #000;
  font-weight: bold;
  border: 1px solid rgb(75, 75, 75);
  border-radius: 0.1rem;
  padding: 0.1rem;
}

a.comments img {
  width: 1.5rem;
  height: 1.5rem;
  vertical-align: middle;
  padding: 0;
}

a.comments {
  line-height: 1.5rem;
  text-decoration: none;
  font-size: 0.8rem;
  color: #000;
  font-weight: bold;
  border: 1px solid rgb(75, 75, 75);
  border-radius: 0.1rem;
  padding: 0.1rem;
}

.app-tech {
  width: 9rem;
  height: 8rem;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
}

.app-tech a {
  line-height: 1rem;
  text-decoration: none;
  font-size: 0.8rem;
  color: #000;
  font-weight: bold;
  border-radius: 0.1rem;
  padding: 0.1rem;
}

a.tech-type {
  border: none;
  background-color: grey;
}

button.show-more {
  height: 1.5rem;
  font-size: 0.8rem;
}

.show-more img {
  width: 1.3rem;
  height: 1.3rem;
  vertical-align: middle;
  padding: 0;
  margin-right: 2rem;
}

@media only screen and (max-width: 764px) {
  .menu {
    visibility: hidden;
  }

  .puntos {
    order: -1;
  }

  .search {
    border-style: none;
  }

  .search input {
    visibility: hidden;
  }

  aside {
    visibility: hidden;
  }
}
